.alert {
    width: 100%;
    padding: .25em 4em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span:last-child {
        cursor: pointer;
        font-size: 2em;
    }

    &.success {
        background-color: var(--green-extra-light);
        color: var(--green);
    }
}