:root {
    --radius: .25em;
}

body {
    padding: 0;
    margin: 0;
}

hr {
    margin: 2em 0;
    border: .5px solid var(--grey);
}

.dark hr {
    border-color: var(--dark-grey-light);
}

a {
    text-decoration: none;
}