// BASIC BUTTONS
button,
.button {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: all .3s;
    font-weight: bold;
    text-align: center;
    font-size: .9em;

    &.icon {
        padding: .5em !important;
    }

    &.small {
        width: fit-content;
    }

    &.primary.disabled {
        background-color: var(--blue-light);
        color: var(--blue-extra-light);
        cursor: initial;
    }

    &.danger.disabled {
        background-color: var(--red-light);
        color: var(--red-extra-light);
        cursor: initial;
    }
}

// DROPDOWN BUTTONS
.dropdown-button {
    position: relative;

    .dropdown-items {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--grey-extra-light);

        &.hidden {
            display: none;
        }

        li {
            list-style: none;
            font-size: .8em;
            width: 100%;
            padding: .75em 1em;
            cursor: pointer;

            &:not(.danger):hover {
                background-color: var(--grey-light);
            }

            &:last-child {
                border-bottom-left-radius: .5em;
                border-bottom-right-radius: .5em;
            }
        }
    }
}