:root {
    --black: #000;

    --white: #fff;

    --grey: #CCC;
    --grey-light: #e0e0e0;
    --grey-extra-light: #f4f4f4;
    --grey-dark: #7e7e7e;

    --blue: #3b82f6;
    --blue-light: #93c5fd;
    --blue-extra-light: #bfdbfe;

    --red: #ef4444;
    --red-light: #fca5a5;
    --red-extra-light: #fecaca;

    --green: #22c55e;
    --green-light: #4ade80;
    --green-extra-light: #bbf7d0;


    --dark-black: rgb(14, 14, 14);
    --dark-grey: rgb(29, 29, 31);
    --dark-grey-light: rgb(38, 38, 41);
}

.primary {
    background-color: var(--blue-extra-light);
    color: var(--blue);
    fill: var(--blue);

    &:hover {
        background-color: var(--blue);
        color: var(--blue-extra-light);
        fill: var(--blue-extra-light);
    }
}

.success {
    background-color: var(--green-extra-light);
    color: var(--green);
    fill: var(--green);

    &:hover {
        background-color: var(--green);
        color: var(--green-extra-light);
        fill: var(--green-extra-light);
    }
}

.danger {
    background-color: var(--red-extra-light);
    color: var(--red);
    fill: var(--red);

    &:hover {
        background-color: var(--red);
        color: var(--red-extra-light);
        fill: var(--red-extra-light);
    }
}