:root {
    --black: #000;

    --white: #fff;

    --grey: #CCC;
    --grey-light: #e0e0e0;
    --grey-dark: #7e7e7e;

    --blue: #3b82f6;
    --blue-light: #93c5fd;
    --blue-extra-light: #bfdbfe;

    --red: #ef4444;
    --red-light: #fca5a5;
    --red-extra-light: #fecaca;
}