input {
    width: 100%;
    padding: .5em 1em;
    color: var(--grey-dark);
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: .5em;
}

input:disabled {
    background-color: var(--grey);
}

input:focus {
    border-color: var(--blue);
    outline: none;
}

.search-input {
    position: relative;
    display: flex;
    align-items: center;

    span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: .5em;

        svg {
            width: 18px;
            color: var(--grey-dark);
        }
    }

    input {
        padding-left: 2.5em;
    }
}

.errors {
    border-radius: .5em;
    background-color: var(--red-extra-light);
    color: var(--red);
}