.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;

    .modal {
        width: 50%;
        max-width: 500px;
        background-color: var(--white);
        border-radius: var(--radius);
        padding: 4em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;

        @media screen and (max-width: $base-breakpoint) {
            width: 75%;
        }

        .modal-title {
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }

        .modal-actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;

            @media screen and (max-width: $base-breakpoint) {
                flex-direction: column;
                gap: 1em;
            }
        }
    }
}