.navbar {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 100vh;
    max-height: 100vh;
    padding: 2em;
    background-color: var(--white);
    border-right: 1px solid var(--grey);
    position: sticky;

    nav {
        flex: 1;
    }

    .nav-link {
        display: flex;
        gap: 1em;
        padding: .5em 1em;
        margin-top: .5em;
        color: var(--grey-dark);
        border-radius: .5em;

        span {
            font-weight: 500;
        }

        svg {
            width: 24px;
        }
    }

    .nav-link:hover {
        background-color: var(--grey-light);
    }

    .nav-link.active {
        background-color: var(--grey-light);
        color: var(--grey-dark);
    }

    .user {
        display: flex;
        align-items: center;
        gap: .5em;

        img {
            object-fit: cover;
            margin: 0 .5em;
            width: 32px;
            height: 32px;
            border-radius: 100%;
        }

        h4 {
            color: var(--grey-dark);
        }
    }
}