.auth {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

        .form {
            padding: 1em;
            border-radius: var(--radius);
            background-color: var(--grey-extra-light);
        }
    }
}